{% load static %}
<!DOCTYPE html>
<html>

<!-- sawmall/  26 Nov 2019 04:18:33 GMT -->
<head>
<meta charset="utf-8">
<title>Alabrar-Fahion | Homepage</title>
<!-- Stylesheets -->
<link href="{% static 'website/css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'website/css/style.css' %}" rel="stylesheet">
<link href="{% static 'website/css/responsive.css' %}" rel="stylesheet">

<!-- Color Switcher Mockup -->
<link href="{% static 'website/css/color-switcher-design.css' %}" rel="stylesheet">

<!--Color Themes -->
<link id="theme-color-file" href="{% static 'website/css/color-themes/default-theme.css' %}" rel="stylesheet">

<link rel="shortcut icon" href="{{logo.image.url}}" type="image/x-icon">
<link rel="icon" href="{{logo.image.url}}" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js' %}"></script><![endif]-->
<!--[if lt IE 9]><script src="{% static 'website/js/respond.js' %}"></script><![endif]-->
</head>

<body class="hidden-bar-wrapper">

{% block content %}{% endblock content %}




<!--Search Popup-->
<div id="search-popup" class="search-popup">
	<div class="close-search theme-btn"><span class="flaticon-multiply"></span></div>
	<div class="popup-inner">
		<div class="overlay-layer"></div>
    	<div class="search-form">
        	<form method="post" action="https://expert-themes.com/html/sawmall/index.html">
            	<div class="form-group">
                	<fieldset>
                        <input type="search" class="form-control" name="search-input" value="" placeholder="Search Here" required >
                        <input type="submit" value="Search Now!" class="theme-btn">
                    </fieldset>
                </div>
            </form>
            
            <br>
            <h3>Recent Search Keywords</h3>
            <ul class="recent-searches">
                <li><a href="#">Business</a></li>
                <li><a href="#">Furniture</a></li>
                <li><a href="#">Kitchen</a></li>
                <li><a href="#">Bed</a></li>
                <li><a href="#">Window</a></li>
            </ul>
        
        </div>
        
    </div>
</div>

<script src="{% static 'website/js/jquery.js' %}"></script>
<script src="{% static 'website/js/popper.min.js' %}"></script>
<script src="{% static 'website/js/bootstrap.min.js' %}"></script>
<script src="{% static 'website/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'website/js/jquery.fancybox.js' %}"></script>
<script src="{% static 'website/js/appear.js' %}"></script>
<script src="{% static 'website/js/isotope.js' %}"></script>
<script src="{% static 'website/js/owl.js' %}"></script>
<script src="{% static 'website/js/wow.js' %}"></script>
<script src="{% static 'website/js/jquery-ui.js' %}"></script>
<script src="{% static 'website/js/script.js' %}"></script>
<script src="{% static 'website/js/color-settings.js' %}"></script>

</body>

<!-- sawmall/  26 Nov 2019 04:19:51 GMT -->
</html>