{% extends 'website/base.html' %}
{%load static%}
{%block content%}
<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
 	<!-- Main Header-->
	{% include 'website/partials/header.html' %}
    <!-- End Main Header -->
	
	<!-- Main Slider -->
    <section class="main-slider">
    	<div class="color-one"></div>
		<div class="color-two"></div>
        <div class="main-slider-carousel owl-carousel owl-theme">
            

            {% for slider in sliders %}
            <div class="slide" style="background-image:url({{ slider.image.url }})">
                <div class="auto-container">
                	<div class="content clearfix">
						<div class="title">In Fashion We Trust</div>
						<h2>We Design. We Create. <br> We Restore</h2>
						<div class="text">Our highly skilled and experienced team specialises in all aspects of <br> antique tailoring fashion design and restoration </div>
                    	<div class="link-box">
							<a href="about.html" class="theme-btn btn-style-one"><span class="txt">Order Now</span></a>
						</div>
                    </div>
                </div>
            </div>
			{% endfor %}

			
        </div>
		
		<!--Scroll Dwwn Btn-->
        <div class="mouse-btn-down scroll-to-target" data-target=".experiance-section"></div>
    </section>
    <!-- End Main Slider -->
	
	<!-- Experiance Section -->
	<section class="experiance-section">
		<div class="pattern-layer" style="background-image:url(images/background/pattern-1.png)"></div>
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Title Column -->
				<div class="title-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Upper Box -->
						<div class="upper-box">
							<div class="upper-inner">
								<div class="number">15</div>
								<h3>Years of Experience</h3>
								<div class="upper-title">in This Industry</div>
							</div>
						</div>
						<!-- Sec Title -->
						<div class="sec-title">
							<h2>About Alabrar-Fashion</h2>
							<div class="separate"></div>
						</div>
						<div class="text">Material restoration offers you two huge benefits: an opportunity to create a new style for your self without overspending and a chance to preserve the value of your material, especially if you have antiques. We regularly import create new designs for you at affordable prices.</div>
						<div class="lower-box">
							<div class="clearfix">
								<a href="about.html" class="theme-btn btn-style-two"><span class="txt">About Us</span></a>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Video Column -->
				<div class="video-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image">
							<img src="{{ about_image.image.url }}" alt="" />
							<!--Video Box-->
							<div class="video-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms" style="background-image:url(images/resource/video-img.jpg)">
								<figure class="video-image">
									<img src="{% static 'website/images/resource/video-img.jpg' %}" alt="">
								</figure>
								<a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image overlay-box"><span class="flaticon-play-arrow"><i class="ripple"></i></span></a>
							</div>
						</div>
						
						<!-- Info Box -->
						<div class="info-box">
							<div class="info-inner">
								<div class="icon flaticon-call"></div>
								<h3>Hotline</h3>
								<div class="number">{{general_infomation.phone_no1}}</div>
							</div>
						</div>
						
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Experiance Section -->
	
	<!-- Services Section -->
	<section class="services-section">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<h2>Our Best Service</h2>
				<div class="separate"></div>
			</div>
			<div class="three-item-carousel owl-carousel owl-theme">
				
				{% for service in services %}
				<!-- Services Block -->
				<div class="services-block">
					<div class="inner-box">
						<div class="image">
							<img src="{{service.image.url}}" alt= "" style="height:400px; object-fit:cover;"/>
							<!-- Overlay Box -->
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
										<div class="icon flaticon-chair"></div>
										<div class="text">We also done furniture remodeling, our experts are help you remodeling your broken furnitures with in more than your expectation...</div>
										<a href="about.html" class="theme-btn btn-style-two"><span class="txt">Read More</span></a>
									</div>
								</div>
							</div>
						</div>
						<div class="lower-box">
							<h3><a href="services-detail.html">{{service.tag}}</a></h3>
						</div>
					</div>
				</div>
				{% endfor %}

				
			</div>
		</div>
	</section>
	<!-- End Services Section -->
	
	<!-- Default Section -->
	<section class="default-section margin-top">
		<div class="outer-container">
			<div class="clearfix">
				
				<!-- Counter Column -->
				<div class="counter-column">
					<div class="image-layer" style="background-image:url(images/resource/image-1.jpg)"></div>
					<div class="inner-column">
						
						<!-- Fact Counter -->
						<div class="fact-counter">
							<div class="row clearfix">

								<!--Column-->
								<div class="column counter-column col-lg-6 col-md-6 col-sm-12">
									<div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
										<div class="content">
											<div class="icon flaticon-robot-arm"></div>
											<div class="count-outer count-box">
												<span class="count-text" data-speed="2500" data-stop="15">0</span>
											</div>
											<h4 class="counter-title">Years of Fashion Design <br> Experience</h4>
										</div>
									</div>
								</div>

								<!--Column-->
								<div class="column counter-column col-lg-6 col-md-6 col-sm-12">
									<div class="inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
										<div class="content">
											<div class="icon flaticon-intellectual"></div>
											<div class="count-outer count-box alternate">
												<span class="count-text" data-speed="3000" data-stop="3">0</span>
											</div>
											<h4 class="counter-title">Local Branches in <br> City </h4>
										</div>
									</div>
								</div>

								<!--Column-->
								<div class="column counter-column col-lg-6 col-md-6 col-sm-12">
									<div class="inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
										<div class="content">
											<div class="icon flaticon-plumber"></div>
											<div class="count-outer count-box">
												<span class="count-text" data-speed="3000" data-stop="8">0</span>K
											</div>
											<h4 class="counter-title">Happy Customer <br> with our work</h4>
										</div>
									</div>
								</div>
								
								<!--Column-->
								<div class="column counter-column col-lg-6 col-md-6 col-sm-12">
									<div class="inner wow fadeInLeft" data-wow-delay="900ms" data-wow-duration="1500ms">
										<div class="content">
											<div class="icon flaticon-gear"></div>
											<div class="count-outer count-box">
												<span class="count-text" data-speed="2500" data-stop="13">0</span>+
											</div>
											<h4 class="counter-title">Best team with <br> dedicate fashion designers</h4>
										</div>
									</div>
								</div>

							</div>
						</div>
						
					</div>
				</div>
				
				<!-- Accordian Column -->
				<div class="accordian-column">
					<div class="inner-column">
						<!-- Sec Title -->
						<div class="sec-title">
							<h2>General Questions</h2>
							<div class="separate"></div>
						</div>
						
						<!--Accordian Box-->
						<ul class="accordion-box">

							<!--Block-->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Can i change plans at anytime?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">How all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth.</div>
									</div>
								</div>
							</li>

							
						</ul>
						
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Default Section -->
	
	<!-- Gallery Section -->
    <section class="gallery-section">
    	<div class="auto-container">
        	<div class="sec-title centered">
            	<h2>Our Featured Designs</h2>
                <div class="separate"></div>
            </div>
            
            <!--Gallery Masonry-->
            <div class="sortable-masonry">
                <div class="items-container row clearfix">
					
					{% for gallery in galleries %}
					<!-- Gallery Block -->
					<div class="gallery-block masonry-item windows all col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image">
								<img src="{{gallery.image.url}}" alt="" />
								<div class="overlay-box">
									<div class="options">
										<a href="projects-detail.html" class="plus-icon"><span class="icon flaticon-unlink"></span></a>
										<a href="{{gallery.image.url}}" class="plus-icon lightbox-image" data-fancybox-group="gallery-one"><span class="icon flaticon-increase-size-option"></span></a>
									</div>
									<div class="content clearfix">
										<h3><a href="projects-detail.html">{{gallery.tag}}</a></h3>
										<div class="category"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}

				</div>
			
				<div class="btn-box text-center">
					<a href="{% url 'gallery' %}" class="theme-btn btn-style-two"><span class="txt">View More</span></a>
				</div>
			
			</div>
		</div>
	</section>
	
	<!-- Team Section -->
	<section class="team-section-two" style="background-image:url(images/background/2.jpg)">
		<div class="auto-container">
			
			<!-- Sec Title -->
			<div class="sec-title light centered">
				<h2>Our Managment Team </h2>
				<div class="separate"></div>
			</div>
			
			<div class="row clearfix">
				
				{% for staff in staffs%}
				<!-- Team Block -->
				<div class="team-block-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="{{staff.image.url}}" alt="" />
							<!-- Social Nav -->
							<ul class="social-nav">
								<li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
								<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
								<li><a href="#"><span class="fa fa-twitter"></span></a></li>
								<li><a href="#"><span class="fa fa-skype"></span></a></li>
							</ul>
						</div>
						<div class="lower-content">
							<h3></h3>
							<div class="designation">{{staff.designation}}</div>
						</div>
					</div>
				</div>

				{% endfor %}

			
			</div>
			
		</div>
	</section>
	<!-- End Team Section -->
	
	<!-- Tesimonial Section -->
    <section class="testimonial-section">
    	<div class="auto-container">
        	<div class="sec-title">
            	<h2>Our Client Says</h2>
                <div class="separate"></div>
            </div>
			
			<div class="clients-outer">
            
            	<!-- Client Testimonial Carousel -->
                <div class="client-testimonial-carousel owl-carousel owl-theme">
                
					{% for i in testimonials %}
                    <!--Testimonial Block -->
                    <div class="testimonial-block">
                        <div class="inner-box">
							<div class="row clearfix">
								
								<!-- Content Column -->
								<div class="content-column col-lg-7 col-md-12 col-sm-12">
									<div class="inner-column">
										<div class="quote-icon">
											<span class="icon fa fa-quote-left"></span>
										</div>
										<div class="text">{{i.content}}</div>
										<div class="author-info">
											<div class="author-name">{{i.tag}}</div>
											<div class="designation"></div>
										</div>
										
									</div>
								</div>
								
								<!-- Image Column -->
								<div class="image-column col-lg-5 col-md-12 col-sm-12">
									<div class="inner-column">
										<div class="pattern-one"></div>
										<div class="pattern-two"></div>
										<div class="image">
											<img src="{{i.image.url}}" alt="" />
										</div>
									</div>
								</div>
								
							</div>
							
                        </div>
                    </div>
					{% endfor %}


                </div>
				
				<!--Product Thumbs Carousel-->
                <div class="client-thumb-outer">
                    <div class="client-thumbs-carousel owl-carousel owl-theme">
						{% for j in testimonials%}
                        <div class="thumb-item">
                            <figure class="thumb-box"><img src="{{j.image.url}}" alt=""></figure>
                        </div>
						{%endfor%}
                    </div>
                </div>
				
                
            </div>
			
		</div>
	</section>
	<!-- End Clients Section -->
	

	
	<!-- News Section -->
	<section class="news-section">
		<div class="auto-container">
			<div class="sec-title centered">
            	<h2>Our Latest News</h2>
                <div class="separate"></div>
            </div>
			<div class="two-item-carousel owl-carousel owl-theme">
				
				{% for i in news %}
				<!-- News Block -->
				<div class="news-block">
					<div class="inner-box">
						<div class="image">
							<a href="blog-single.html"><img src="{{i.image.url}}" alt="" /></a>
						</div>
						<div class="lower-content">
							<ul class="post-meta">
								<li>Admin</li>
								<li>{{i.posted}}</li>

							</ul>
							<h3><a href="blog-single.html">{{i.tag}}</a></h3>
							<a href="blog-single.html" class="read-more">Read More</a>
						</div>
					</div>
				</div>
				{%endfor%}

				
			</div>
		</div>
	</section>
	<!-- End News Section -->
	
	<!-- Main Footer -->
	{% include 'website/partials/footer.html' %}
	
</div>
<!--End pagewrapper-->

<!-- Color Palate / Color Switcher -->

{% endblock content %}