{% load static %}
<footer class="main-footer" style="background-image: url(images/background/map-pattern.png)">
    <div class="footer-social-box">
        <div class="auto-container">
            <ul class="social-nav">
                <li><a title="Facebook" href="#"><span class="fa fa-facebook-f"></span></a></li>
                <li><a title="Twitter" href="#"><span class="fa fa-twitter"></span></a></li>
                <li><a title="VK" href="#"><span class="fa fa-vk"></span></a></li>
                <li><a title="Linkedin" href="#"><span class="fa fa-linkedin"></span></a></li>
                <li><a title="Instagram" href="#"><span class="fa fa-instagram"></span></a></li>
            </ul>
        </div>
    </div>
    <div class="auto-container">
        <!--Widgets Section-->
        <div class="widgets-section">
            <div class="row clearfix">
                
                <!-- Footer Column -->
                <div class="footer-column col-lg-4 col-md-6 col-sm-12">
                    <div class="footer-widget logo-widget">
                        <div class="logo">
                            <a href="index-2.html"><img src="{{logo.image.url}}" alt="" /></a>
                        </div>
                        <div class="text">Our professionalism, good service and trust to the home repair maintenance business. We take immense pride in sending some of the most of professional seds handymen to yours that aren't workings every day.</div>
                    </div>
                </div>
                
                <!-- Footer Column -->
                <div class="footer-column col-lg-4 col-md-6 col-sm-12">
                    <div class="footer-widget links-widget">
                        <div class="footer-title">
                            <h4>Contact Us</h4>
                        </div>
                        <ul class="contact-link">
                            <li><span>Call:</span> {{general_infomation.phone_no1}}</li>
                            <li><span>Write:</span> {{general_infomation.email}}</li>
                            <li><span>Find Us:</span> {{general_infomation.address1}}</li>
                        </ul>
                    </div>
                </div>
                
                <!-- Footer Column -->
                <div class="footer-column col-lg-4 col-md-6 col-sm-12">
                    <div class="footer-widget newsletter-widget">
                        <div class="footer-title">
                            <h4>Our News letter</h4>
                        </div>
                        <div class="text">You can get latest update from us by Subscribing to our News Letter</div>
                        <div class="newsletter-form">
                            <form method="post" action="https://expert-themes.com/html/sawmall/contact.html">
                                <div class="form-group">
                                    <input type="email" name="email" value="" placeholder="Your Email Address" required="">
                                    <button type="submit" class="theme-btn submit-btn"><span class="txt">Subscribe</span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="clearfix">
                <div class="pull-left">
                    <div class="copyright"><a href="templateshub.net">Design By Mussadiq Technologies +2347060936935</a></div>
                </div>
                <div class="pull-right">
                    <div class="scroll-to-top scroll-to-target" data-target="html">Back To Top</div>
                </div>
            </div>
        </div>
    </div>
    
</footer>