{% extends 'alabrarAdmin/base.html' %}
{% load static %}
{% block content%}

    {% include 'alabrarAdmin/partials/_navbar.html' %}
    <div class="container-fluid page-body-wrapper">
        {% include 'alabrarAdmin/partials/_sidebar.html' %}
        <div class="main-panel">        
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                          <div class="card-body">
                            <h4 class="card-title">Add New Customer</h4>
                            <p class="card-description">
                              Customer General Information
                            </p>
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-group row">
                                <div class="col-md-6">
                                    <label>Name</label>
                                    <div id="the-basics">
                                    <input class="typeahead" name="name" type="text" placeholder="Enter Customer's Name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Customer ID</label>
                                    <div id="the-basics">
                                    <input class="typeahead" name="customer_id" type="text" placeholder="Enter Customer's ID">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Phone Number</label>
                                    <div id="the-basics">
                                    <input class="typeahead" name="phone_number" type="text" placeholder="Enter Customer's Phone Number">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Email Address</label>
                                    <div id="the-basics">
                                    <input class="typeahead" name="email" type="email" placeholder="Enter Customer's Email">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label>Contact Address</label>
                                    <div id="the-basics">
                                    <input class="typeahead" name="contact_address" type="text" placeholder="Enter Customer's Address">
                                    </div>
                                </div>                        
    
                                </div>
                                <button name="add_customer" type="submit" class="btn btn-primary mb-2">Submit</button>
                                {% if messages %}
                                {% for msg in messages %}
                                  <div class="alert alert-info alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    {{msg.message}}
                                  </div>
                                {% endfor %}
                              {% endif %}
                            </form>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'alabrarAdmin/partials/_footer.html' %}

{% endblock content%}