{% extends 'alabrarAdmin/base.html' %}
{% load static %}
{% load mathfilters %}
{% block content%}

    {% include 'alabrarAdmin/partials/_navbar.html' %}
    <div class="container-fluid page-body-wrapper">
        {% include 'alabrarAdmin/partials/_sidebar.html' %}
        <div class="main-panel">        
            <div class="content-wrapper">
                <div class="row">
                    <div>
                      <form method="POST">
                        {% csrf_token %}
                        <div class="form-group row">
                        <div class="col-md-12">
                          <label>Filter Date</label>
                      
                          <div id="the-basics">
                              <div id="datepicker-popup" class="input-group date datepicker navbar-date-picker">
                                  <span class="input-group-addon input-group-prepend border-right">
                                    <span class="icon-calendar input-group-text calendar-icon"></span>
                                  </span>
                                  <input name="filter_date" type="text" class="form-control">
                                  <button name="filter" type="submit" class="btn btn-primary mb-2">Filter</button>
                                </div>
                                
                          </div>
                        </div>

                        
                        </div>
                        
                    </form>
                    </div>
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                          <div class="card-body">
                            <h4 class="card-title">Sells Record </h4>
                            <p class="card-description">
                              
                            </p>
                            <div class="table-responsive">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th>S/N</th>
                                    <th>Description</th>
                                    <th>Amount</th>
                                    <th>Date</th>
                                  </tr>
                                </thead>
                                <tbody>
                                {% for sell in sells %}
                                  <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{sell.item}}</td>
                                    <td>{{sell.amount}}</td>
                                    <td>{{sell.sold_on|date:'M-j-Y'}}</td>
                                  </tr>
                                {% endfor %}
                                <tr>
                                  <th>Total</th>
                                  <th></th>
                                  <th>{{total}}</th>
        
                   
                       
                                </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="pagination">
                      <span class="step-links">
                        {% if sells.has_previous %}
                          <a href="?page=1">&laquo; first</a>
                          <a href="?page={{ sells.previous_page_number }}">previous</a>
                        {% endif %}
                    
                        <span class="current">
                          Page {{ sells.number }} of {{ sells.paginator.num_pages }}.
                        </span>
                    
                        {% if sells.has_next %}
                          <a href="?page={{ sells.next_page_number }}">next</a>
                          <a href="?page={{ sells.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                      </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'alabrarAdmin/partials/_footer.html' %}

{% endblock content%}